<%- include ('partials/header') %>
<%- include ('partials/navigation') %>

        <div class="container my-4">

            <div>

               <% notes.forEach((obj, index)=>{ %>
                    <div class="bg-warning rounded p-4 my-3"><!--Note-->
                        <h3 class="display-6">
                            <%= obj.title %>
                        </h3>
                        <p class="text-muted">
                            <%= obj.date %>
                        </p>
                        <p class="lead">
                            <%=obj.content%>
                        </p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <form class="d-inline" action="/updateNote" method="post">
                                    <input type="hidden" value="<%= obj.title %>" name="title">
                                    <input type="hidden" value="<%= obj.content %>" name="content">
                                    <input type="hidden" value="<%= obj.id %>" name="id">
                                    <button type="submit" class="btn btn-secondary">
                                        <i class="bi bi-pen-fill"></i>
                                    </button>
                                </form>
                            </li>
                            <li class="list-inline-item">
                                <form class="d-inline" action="/deleteNote" method="post">
                                    <input type="hidden" value="<%=obj.id%>" name="id">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-trash3-fill"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div><!--Note | FIM-->
              <%  }) %>

            </div>
        </div>









        <%-include ('partials/footer') %>